.footer-wrap {
  position: relative;
  z-index: 1;
  .copyright-text {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    p {
      color: #333;
      text-align: center;
      margin: 0;
      a {
        color: #00a9a4;
        font-weight: 600;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
